body{
	background-color: black;
	color: white;
}
.navbar{
	background-color: white;
	color: black;
	height: 120px;
	z-index: 200;
	position: fixed;
	width: 100%:
	border-radius: 0;
}
.btn-default{
	background-color: white;
	color: black;
	margin-right: 20px;
	margin-top: 40px;
}
.btn-default:hover{
	background-color: white;
}

#metrologo{
	height: 100px;
	width: 90px;
	margin-top: 8px;

}
#title{
	clear: left;
	margin-top: 40px;
}

#directionDisplay {
	padding-top: 30px;
}
i {
	padding: 15px;
}

#linerow{
	margin-top: 70px;
}

.dropdown{
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.btn{
	background-color: black;
	color: white;
}

.linebar{
	height: 20px;
	background-color: red;
	margin-top: 23px;
}

.fa-arrow-left {
	color: white;
}

.station {
	margin-top: 5px;
}

.stationLabel{
	color: white;
	font-size: 18px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: roatate(315deg);
}

#stationnames{
	margin-top: 50px;
	margin-bottom: 10px;
}

.info{
	color: white;
	font-size: 24px;
}

#arrival{
	color: white;
	font-size: 36px;
}

.maininfo{
	margin: 0px 0px 10px 10px;
}

/* Line Menu styles*/
#lineModal {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #111;
	padding-top: 150px;
	transition: : 0.5s;
	color: white;
	text-align: center;
}

.sidenav div {
	padding: 8px 32px 8px 32px;
	text-align: center;
	font-size: 25px;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0.5;
}

.sidenav div:hover {
	opacity: 1;
}

/* Station Menu */
#stationMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 50;
	top: 0;
	let: 0;
	background-color: #0A0A0A;
	color: white;
	padding-top: 150px;
	transition: 0.5s;
	overflow-x: auto;
}

#stationMenu h2 {
	margin-left: 10px;
}

#stationMenu::-webkit-scrollbar{
	display: none;
}

#stationList li {
	padding: 8px 32px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	/* set color on list population */
	display: block;
	opacity: 0.6;
	border-bottom: solid 2px #3F4040;
	cursor: pointer;
}

.closebtn {
	position: absolute;
	top: 140px;
	right: 20px;
	font-size: 36px;
	margin-left: 50px;
	color: white;
	text-decoration: none;
}

.closebtn:hover{
	text-decoration: none;
	color: white;
}

#stationList li:hover {
	opacity: 1;
}

/*Direciton list*/
#directionMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 50;
	top: 0;
	let: 0;
	background-color: #0A0A0A;
	color: white;
	padding-top: 150px;
	transition: 0.5s;
	overflow-x: auto;
}

#directionList li {
	padding: 8px 32px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	/* set color on list population */
	display: block;
	opacity: 0.6;
	border-bottom: solid 2px #2E2E2E;
}

#directionList li:hover {
	opacity: 1;
}

#main {
	transition: margin-left .5s;
	padding: 20px;
	padding-top: 150px
}

/* Line Styles */
.lineBtn{
	border: none;
	height: 80px;
}
#RD{
	background-color: #e51434;
	color: white;
}
#GR{
	background-color: #0eab4a;
	color: white;
}
#YL{
	background-color: #EDCE00;
	color: white;
}
#BL{
	background: #3381FF;
	color: white;
}
#OR{
	background: #f38512;
	color: white;
}
#SV{
	background: #9d9f9d;
	color: white
}

#lineContainer{
	z-index: 50;
	transition: margin-left .5s;
	padding: 20px;
	padding-top: 150px;
	background-color: black;
	margin-left: 370px;
}

#lineImg {
	height: 100%;
	width: 100%;
}
